server:
  port: 8080

spring:
  datasource:
    # mac
#    url: jdbc:h2:tcp://localhost/~//Desktop/github/h2/DB/jpa-example-code
    # window
#    url: jdbc:h2:tcp://localhost/d/H2/db/jpa-example-code
    url: jdbc:h2:tcp://localhost/D:\H2\db\jpa-example-code
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      show_sql: true
      format_sql: true
