#tomcat server port
server:
  port: 8080

spring:
  # h2 datasource info
  datasource:
#    url: jdbc:h2:tcp://localhost/~/jpashop
    #window
    url: jdbc:h2:tcp://localhost/D:\H2\db\jpashop
    username: sa
    password:
    driver-class-name: org.h2.Driver

#jpa setting
  jpa:
    # hibernate setting
    hibernate:
#      ddl-auto: none
      ddl-auto: create
    properties:
      hibernate:
        #system.out
        show_sql: true
        #format pretty
        format_sql: true

#logging
logging:
  level:
    org.hibernate:
      #sql level
      sql: debug
      #sql show sql parameter
      type: trace